#login.ui-page.ui-body-a.ui-page-active { background: url(background.png) no-repeat 50% 10px; }
#login.ui-page.ui-body-a.ui-page-active .ui-header.ui-bar-a { display: none; }

#login .ui-content { padding-top: 125px; padding-bottom: 15px; margin: 0px 15px 10px 15px; }

#login .ui-footer h4.ui-title { text-align: center; color: #471763; font-size: .8em; font-weight: normal; margin: 5px 0px 10px 0px; }
#login .ui-footer .ui-controlgroup-horizontal { margin: 10px 20px 15px 20px; text-align: center; }