.ui-page.ui-body-a.ui-page-active { background: url(background_sansio.png) no-repeat 50% 40px; }
/*.ui-page.ui-body-a.ui-page-active .ui-header.ui-bar-a { display: none; }*/

#menu .ui-content { padding-top: 125px; padding-bottom: 15px; margin: 0px 15px 10px 15px; }

#menu .ui-listview { text-align: center; }
#menu .ui-listview .ui-btn {
	width: 75px;
	display: inline-block;
	background: url(menuButtons.png) no-repeat 0px 0px;
	border: none;
	margin: 0px 20px 20px 20px;
}
#menu .ui-listview .ui-btn .ui-li { border: none; }
#menu .ui-listview .ui-btn .ui-li .ui-icon { display: none; }
#menu .ui-listview .ui-btn .ui-li .ui-link-inherit { font-size: .8em; font-weight: normal; padding: 80px 0px 0px 0px; text-align: center; color: #471763;}

#menu .ui-listview .ui-btn.btn_users { background-position: 0px 0px; }
#menu .ui-listview .ui-btn.btn_clock { background-position: -85px 0px; }
#menu .ui-listview .ui-btn.btn_messages { background-position: -170px 0px; }
#menu .ui-listview .ui-btn.btn_slip { background-position: -255px 0px; }
#menu .ui-listview .ui-btn.btn_clients { background-position: -340px 0px; }
/*#menu .ui-listview .ui-btn.btn_clock { background-position: -425px 0px; }
#menu .ui-listview .ui-btn.btn_messages { background-position: -510px 0px; }
#menu .ui-listview .ui-btn.btn_slip { background-position: -595px 0px; }*/

.ui-footer h4.ui-title { text-align: center; color: #471763; font-size: .8em; font-weight: normal; margin: 5px 0px 10px 0px; }
.ui-footer .ui-controlgroup-horizontal { margin: 10px 20px 15px 20px; text-align: center; }