/*.ui-page.ui-body-a.ui-page-active { background: url(background.jpg) 50% 0px; }*/

.ui-footer h4.ui-title {text-align: center; color: #471763; font-size: .8em; font-weight: normal; margin: 5px 0px 10px 0px; display:inline;}
/*.ui-footer .ui-controlgroup-horizontal { margin: 10px 20px 15px 20px; text-align: center; }*/

/*[data-role=page]{height: 100%; position:relative;}
[data-role=footer]{bottom:0; position:absolute; top: auto; width:100%;}*/

#finalHeadMan,#finalMen,#finalHeadHours,#finalOverHours,#finalOverHourType,#finalOverTimeData,#finalPerDiem,#finalTripHours,#finalClient,#finalWorkData,#finalHours,#finalHourType,#finalUsedCar,#finalKm,#finalOther,#finalRoute,#finalMeal{
display:inline
}

#checkHeadMan,#checkMen,#checkHeadHours,#checkOverHours,#checkOverHourType,#checkOverTimeData,#checkPerDiem,#checkTripHours,#checkClient,#checkWorkData,#checkHours,#checkHourType,#checkUsedCar,#checkKm,#checkOther,#checkRoute,#checkMeal,#checkSpec1,#checkSpec2,#checkSpec3,#checkSpec4,#checkMoreOverWork1,#checkMoreOverWork2,#checkMoreOverWork3{
display:inline
}

#instantFeedbackDay, #instantFeedbackClient,#instantFeedbackBasicHours,#instantFeedbackOverHours,#instantFeedbackHeadMan,#instantFeedbackPerDiem,#instantFeedbackCar,#instantFeedbackOtherField,#instantFeedbackFinal,#instantFeedbackCheck,#instantFeedbackBonusesPage,#instantFeedbackWagePeriods,#instantFeedbackOneWagePeriod{
display:inline
}
#typeOfLeave, #dayCheck, #deletedClient{
display:inline
}

table {
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: bold 17px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
}
     
table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}
         
table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}